<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextFinder.Settings.TextFinderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TextFinder.Settings.TextFinderSettings>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchTextMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreatedAfterDate" serializeAs="String">
                <value />
            </setting>
            <setting name="CreatedBeforeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAccessedAfterDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAccessedBeforeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifiedAfterDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifiedBeforeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MatchSearchTextCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckNumberOfLinesBetweenSearchTextEntries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LinesBetweenSearchText" serializeAs="String">
                <value>0</value>
            </setting>
        </TextFinder.Settings.TextFinderSettings>
    </userSettings>
</configuration>